<div class="bg-gray py-5">
    <div class="row py-5 contenedor"  id="sobre-nosotros">
        <div class="elemento col-md-6 col-sm-12 container-fluid">
            <img src="{{ site.baseurl }}/assets/img/nosotros.png" class="mx-auto d-block img-fluid p-5" alt="imagen">
        </div>
        <div class="col-md-6 col-sm-12 d-flex justify-content-center">
            <div class="elemento-t row col-10 dinpro-light">
                <h3 class="txt-color-primary good-times-rg">{{site.data.about_us.nosotros_titulo.texto[page.lang]}}</h3>
                <div class="pr-md-5 pr-sm-0">
                    <p class="text-justify">
                        {{site.data.about_us.nosotros1_parrafo.texto[page.lang]}}
                    </p>
                    <p class="text-justify">
                        {{site.data.about_us.nosotros1_1_parrafo.texto[page.lang]}}
                    </p>
                    <div class="col pr-0 mr-0">
                        <a class="btn btn-outline-primary float-right border-primary dinpro-bold"
                            href="{{site.data.header.nosotros.url[page.lang]}}">{{site.data.about_us.nosotros1_2_link.texto[page.lang]}}<i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>