<div class="jumbotron-fluid text-white bg-main">
    <h3 class="display-4">SOBRE NOSOTROS</h3>
</div>
<div class="py-5">
    <div class="row py-5" id="sobre-nosotros">
        <div class="col-md-6 col-sm-12 d-flex justify-content-center">
            <div class="row col-10 dinpro-light">
                <h5>Quienes somos -</h5>
                
                <h3 class="txt-color-primary good-times-rg">SMART FORCE</h3>
                <div class="pr-md-5 pr-sm-0">
                    <p class="text-justify">
                        Nuestro equipo está integrado por colaboradores altamente comprometidos con el éxito de
                        nuestros clientes.
                    </p>
                    <p class="text-justify">
                        Nuestro enfoque principal es ayudar a nuestros clientes a <b>transformar sus operaciones
                        actuales para transicionar a un modelo digital</b>, donde los asistentes virtuales 
                        permitan que los humanos se enfoquen en actividades de más
                        valor dentro de su rol y las actividades repetitivas -de alto volumen bajo valor- pero
                        necesarias, sean completadas por asistentes virtuales.
                    </p>
                    <div class="col pr-0 mr-0">
                        <a class="btn btn-outline-primary float-right border-primary dinpro-bold"
                            href="#">Conoce
                            más <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 container">
            <img src="{{ site.baseurl }}/assets/img/nosotros/1.png" class="mx-auto d-block img-fluid p-5" alt="imagen">
        </div>
    </div>
</div>

<div class="row py-5 container m-6 dinpro-light">
    <h3 class="txt-color-primary good-times-rg">ROBOTIC PROCESS AUTOMATION</h3>
    <p>Mas allá del Robotic Process Automation (RPA), combinamos tecnologías de Inteligencia artificial (IA), visión de computadora (CV) y aprendizaje de maquina (ML) para lograr una automatización de Procesos Inteligente (IPA).</p>
    <img src="{{ site.baseurl }}/assets/img/nosotros/2.png" class="mx-auto d-block img-fluid p-5" alt="robotic process automation imagen">
</div>
<div class="row ml-2">
    <div class="container-fluid mx-5">
        <!-- <video class="w-100" controls src="{{ site.baseurl }}/assets/video/RPA_Voz.mp4"></video> -->
    </div>
</div>
<div class="bg-gray py-5">
    <div class="row py-5 contenedor">
        <div class="col-md-6 col-sm-12 container-fluid">
            <img src="{{ site.baseurl }}/assets/img/nosotros/3.png" class="mx-auto d-block img-fluid p-5" alt="imagen">
        </div>
        <div class="col-md-6 col-sm-12 d-flex justify-content-center">
            <div class="row col-10 dinpro-light">
                <div class="pr-md-5 pr-sm-0">
                    <p class="text-justify">
                        La combinación de estas nuevas tecnologías, con sus inversiones actuales en tecnología logran capacidades aumentadas, para responder mejor, mas rápido y de forma mas eficiente los cambios del mercado, al tener al recurso humano enfocado en actividades de valor para los clientes y la empresa.
                    </p>
                    <p class="text-justify">
                        Nuestro equipo está integrado por colaboradores altamente comprometidos con el éxito de
                        nuestros clientes.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="py-5">
    <div class="row py-5 contenedor">
        <div class="col-md-8 col-sm-12 d-flex justify-content-center">
            <div class="row col-10 dinpro-light">
                <h3 class="txt-color-primary good-times-rg">MÉTODO ÁGIL</h3>
                <div class="pr-md-5 pr-sm-0">
                    <p class="text-justify">
                        El método ágil permite hacer entregas periódicas en forma rápida, mostrando resultados al negocio, 
                        aportando resultados desde etapas tempranas de los proyectos, mejorando así el retorno de inversión
                         al ir obteniendo valor del proyecto de forma incremental.                    
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 container-fluid">
            <img src="{{ site.baseurl }}/assets/img/nosotros/4.png" class="mx-auto d-block img-fluid p-5" alt="imagen">
        </div>
    </div>
</div>
<div class="bg-main py-5 text-white dinpro-light">
    <div class="row px-5">
        <div class="col-6 p-5">
            <h3 class="txt-color-primary good-times-rg">NUESTRA CULTURA</h3>
            <p class="text-justify">
                Buscamos siempre el bien colectivo, tanto de nuestros colaboradores como de nuestros clientes y entorno, 
                es la razón por la que siempre buscamos tener clientes satisfechos en un modelo de negocio donde 
                entreguemos valor a nuestros clientes a un precio competitivo, que nos permita seguir generando bienestar
                a nuestros empleados, accionistas y a la sociedad, bajo normas de operación éticas.
            </p>
            <p class="text-justify">
                Mantenemos una estructura organizacional simple que nos permite tener una comunicación fluida y 
                sencilla con todos nuestros colaboradores, modelo que llevamos a la ejecución de los proyectos 
                con nuestros clientes y socios.                  
            </p>
        </div>
        <div class="col-6">
            <img src="{{ site.baseurl }}/assets/img/nosotros/5.png" class="" alt="imagen">
        </div>
    </div>
</div>
<div class="py-5">
    <div class="row px-5 dinpro-light">
        <div class="col-6">
            <img src="{{ site.baseurl }}/assets/img/nosotros/6.png" class="mx-auto d-block img-fluid p-5" alt="imagen">
        </div>
        <div class="col-6 p-5">
            <h3 class="txt-color-primary good-times-rg">CRECIMIENTO</h3>
            <p class="text-justify">
                Nos retamos constantemente a adquirir nuevas habilidades y conocimientos, para crecer como 
                organización, personas y entorno, y contar con mejores perspectivas de abordar los retos de 
                negocio que constantemente se nos presentan en la ejecución de proyectos con nuestros clientes. 
            </p>
        </div>
       
    </div>
</div>