<div class="jumbotron jumbotron-fluid jumbotron-bg row dinpro-bold h-auto sf-jumbo-about-us">
    <div class="text-white h-100 p-5">
        <h4 class="display-4 good-times-rg ml-md-5 pl-md-5" id="title">{{site.data.about_us_intern.nosotros_titulo.texto[page.lang]}}</h4>
    </div>
</div>
<div class="p-md-2">
    <div class="row p-md-5 dinpro-light" id="sobre-nosotros">
        <div class="col-md-6 col-sm-12 d-flex justify-content-center pl-md-5">
                <div class="col-12 p-md-4">
                    <h5 class="dinpro-bold">{{site.data.about_us_intern.quienes_somos_titulo.texto[page.lang]}}</h5>
                    <h2 class="txt-color-primary good-times-rg display-3 py-3" id="subtitle">{{site.data.about_us_intern.smart_titulo.texto[page.lang]}}</h2>
                    <div class="pr-md-0 pr-sm-0 pt-md-5 h3">
                        <p class="text-justify py-md-3">
                            {{site.data.about_us_intern.smart2_titulo.texto[page.lang]}}
                        </p>
                        <p class="text-justify">
                            {{site.data.about_us_intern.smart3_titulo.texto[page.lang]}}<span class="dinpro-bold">{{site.data.about_us_intern.smart3_1_titulo.texto[page.lang]}}</span>
                            {{site.data.about_us_intern.smart3_2_titulo.texto[page.lang]}}
                        </p>
                    </div>
                </div>
        </div>
        <div class="col-md-6 col-sm-12 pt-5 d-flex align-items-center">
            <img src="{{ site.baseurl }}/assets/img/nosotros/1.png" class="m-auto d-block img-fluid" alt="imagen">
        </div>
    </div>
</div>
<div class="px-md-5">
    <div class="p-4">
        <div class="row px-md-5">
            <h3 class="txt-color-primary good-times-rg pb-3 display-4" id="subtitle">{{site.data.about_us_intern.rpa_titulo.texto[page.lang]}}</h3>
            <p class="dinpro-bold h3 text-justify">{{site.data.about_us_intern.rpa2_titulo.texto[page.lang]}}</p>
            <div class="col-12 mx-auto">
                <img src="{{ site.baseurl }}/assets/img/nosotros/2.png" class="mx-auto d-block img-fluid p-md-5" alt="robotic process automation imagen">
            </div>
        </div>
    </div>
</div>
{% if site.data.videos.nosotros_interna.src != '' %}
<div class="row p-md-5">
    <div class="col-md-8 mx-auto p-md-5">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="{{site.data.videos.nosotros_interna.src}}" allowfullscreen></iframe>
        </div>
    </div>
</div>
{% endif %}
<div class="bg-gray py-md-5">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <img src="{{ site.baseurl }}/assets/img/nosotros/3.png" class="mx-auto d-block img-fluid" alt="imagen">
        </div>
        <div class="col-md-6 col-sm-12 d-flex align-items-center">
            <div class="row pr-md-5 pt-5">
                <div class="col-12">
                    <div class="px-4 pr-md-5 pr-sm-0 dinpro-light h4">
                        <p class="text-justify">
                            {{site.data.about_us_intern.rpa3_titulo.texto[page.lang]}}
                        </p>
                        <p class="text-justify">
                            {{site.data.about_us_intern.rpa3_1_titulo.texto[page.lang]}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="py-md-5">
    <div class="row py-md-5">
        <div class="col-md-9 col-sm-12 d-flex justify-content-center">
            <div class="row col-md-10 dinpro-medium">
                <div class="col-12 mt-5">
                    <h3 class="txt-color-primary good-times-rg h2 display-4" id="subtitle">{{site.data.about_us_intern.metodo_agil_titulo.texto[page.lang]}}</h3>
                    <div class="pr-md-4 pr-sm-0 pt-3">
                        <p class="text-justify h3">
                            {{site.data.about_us_intern.metodo_agil2_titulo.texto[page.lang]}}            
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-12 d-flex align-items-center">
            <img src="{{ site.baseurl }}/assets/img/nosotros/4.png" class="mx-auto mx-md-0 mr-md-auto d-block img-fluid" alt="imagen">
        </div>
    </div>
</div>
<div class="bg-main p-md-5 text-white dinpro-light">
    <div class="row p-md-5">
        <div class="col-md-6 col-sm-12 d-flex justify-content-center p-md-5">
            <div class="col-12 p-4">
                <h3 class="txt-color-primary good-times-rg pb-3 display-4" id="subtitle">{{site.data.about_us_intern.nuestra_cultura_titulo.texto[page.lang]}}</h3>
                <p class="text-justify h3">
                    {{site.data.about_us_intern.nuestra_cultura2_titulo.texto[page.lang]}}
                </p>
                <p class="text-justify h3">
                    {{site.data.about_us_intern.nuestra_cultura3_titulo.texto[page.lang]}}       
                </p>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 d-flex align-items-center justify-content-center ">
            <img src="{{ site.baseurl }}/assets/img/nosotros/5.png" class="d-block img-fluid" alt="imagen">
        </div>
    </div>
</div>
<div class="p-3 p-md-5">
    <div class="row p-md-5 dinpro-light">
        <div class="col-md-6 col-sm-12">
            <img src="{{ site.baseurl }}/assets/img/nosotros/6.png" class="mx-auto d-block img-fluid" alt="imagen">
        </div>
        <div class="col-md-6 col-sm-12 py-3 ">
            <h3 class="txt-color-primary good-times-rg pb-3 display-4" id="subtitle">{{site.data.about_us_intern.crecimiento_titulo.texto[page.lang]}}</h3>
            <p class="text-justify h3">
                {{site.data.about_us_intern.crecimiento2_titulo.texto[page.lang]}}
            </p>
        </div>
    </div>
</div>