<div class="bg-gray py-5">
    <div class="row py-5 contenedor"  id="sobre-nosotros">
        <div class="elemento col-md-6 col-sm-12 container-fluid">
            <img src="{{ site.baseurl }}/assets/img/nosotros.png" class="mx-auto d-block img-fluid p-5" alt="imagen">
        </div>
        <div class="col-md-6 col-sm-12 d-flex justify-content-center">
            <div class="elemento-t row col-10 dinpro-light">
                <h3 class="txt-color-primary good-times-rg">SOBRE NOSOTROS</h3>
                <div class="pr-md-5 pr-sm-0">
                    <p class="text-justify">
                        Nuestro equipo está integrado por colaboradores altamente comprometidos con el éxito de
                        nuestros clientes.
                    </p>
                    <p class="text-justify">
                        Nuestro enfoque principal es ayudar a nuestros clientes a transformar sus operaciones
                        actuales para transicionar
                        a un modelo digital, donde los asistentes virtuales permitan que los humanos se enfoquen
                        en
                        actividades de más
                        valor dentro de su rol y las actividades repetitivas -de alto volumen bajo valor- pero
                        necesarias,
                        sean completadas por asistentes virtuales.
                    </p>
                    <div class="col pr-0 mr-0">
                        <a class="btn btn-outline-primary float-right border-primary dinpro-bold"
                            href="#">Conoce
                            más <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>