<div class="jumbotron jumbotron-fluid jumbotron-bg row dinpro-bold h-auto" style="background-image: url('{{ site.baseurl }}/assets/img/nosotros/RPA_Labs_1.jpg');">
    <div class=" text-white h-100 p-5">
        <h4 class="display-4 good-times-rg">SOBRE NOSOTROS</h4>
    </div>
</div>
<div class="py-2">
    <div class="row p-5 dinpro-light" id="sobre-nosotros">
        <div class="col-md-6 col-sm-12 d-flex justify-content-center px-5">
                <div class="col-12 pt-3 pl-4">
                    <h5 class="dinpro-bold">Quienes somos -</h5>
                    <h2 class="txt-color-primary good-times-rg">SMART FORCE</h2>
                    <div class="pr-md-3 pr-sm-0 pt-5">
                        <p class="text-justify">
                            Nuestro equipo está integrado por colaboradores altamente comprometidos con el éxito de
                            nuestros clientes.
                        </p>
                        <p class="text-justify">
                            Nuestro enfoque principal es ayudar a nuestros clientes a <b>transformar sus operaciones
                            actuales para transicionar a un modelo digital</b>, donde los asistentes virtuales 
                            permitan que los humanos se enfoquen en actividades de más
                            valor dentro de su rol y las actividades repetitivas -de alto volumen bajo valor- pero
                            necesarias, sean completadas por asistentes virtuales.
                        </p>
                    </div>
                </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <img src="{{ site.baseurl }}/assets/img/nosotros/1.png" class="mx-auto d-block img-fluid" alt="imagen">
        </div>
    </div>
</div>
<div class="px-5 mx-4">
    <div class="row mx-3">
        <h3 class="txt-color-primary good-times-rg pb-3">ROBOTIC PROCESS AUTOMATION</h3>
        <p class="dinpro-bold">Mas allá del Robotic Process Automation (RPA), combinamos tecnologías de Inteligencia artificial (IA), visión de computadora (CV) y aprendizaje de maquina (ML) para lograr una automatización de Procesos Inteligente (IPA).</p>
        <div class="col-12 mx-auto">
            <img src="{{ site.baseurl }}/assets/img/nosotros/2.png" class="mx-auto d-block img-fluid p-5" alt="robotic process automation imagen">
        </div>
    </div>
</div>
<div class="row p-5">
    <div class="col-12 p-5">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/1aV5BwdHB5U?rel=0" allowfullscreen></iframe>
        </div>
    </div>
</div>
<div class="bg-gray py-5">
    <div class="row py-5">
        <div class="col-md-6 col-sm-12">
            <img src="{{ site.baseurl }}/assets/img/nosotros/3.png" class="mx-auto d-block img-fluid" alt="imagen">
        </div>
        <div class="col-md-6 col-sm-12 d-flex justify-content-center">
            <div class="row col-10 dinpro-light">
                <div class="col-12">
                    <div class="pr-md-5 pr-sm-0">
                        <p class="text-justify">
                            La combinación de estas nuevas tecnologías, con sus inversiones actuales en tecnología logran capacidades aumentadas, para responder mejor, mas rápido y de forma mas eficiente los cambios del mercado, al tener al recurso humano enfocado en actividades de valor para los clientes y la empresa.
                        </p>
                        <p class="text-justify">
                            Nuestro equipo está integrado por colaboradores altamente comprometidos con el éxito de
                            nuestros clientes.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="py-5">
    <div class="row py-5">
        <div class="col-md-8 col-sm-12 d-flex justify-content-center">
            <div class="row col-10 dinpro-light">
                <div class="col-12 mt-5 pr-3">
                    <h3 class="txt-color-primary good-times-rg">MÉTODO ÁGIL</h3>
                    <div class="pr-md-5 pr-sm-0">
                        <p class="text-justify">
                            El método ágil permite hacer entregas periódicas en forma rápida, mostrando resultados al negocio, 
                            aportando resultados desde etapas tempranas de los proyectos, mejorando así el retorno de inversión
                            al ir obteniendo valor del proyecto de forma incremental.                    
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 container-fluid pr-5">
            <img src="{{ site.baseurl }}/assets/img/nosotros/4.png" class="mx-auto d-block img-fluid p-5" alt="imagen">
        </div>
    </div>
</div>
<div class="bg-main py-5 text-white dinpro-light">
    <div class="row px-5">
        <div class="col-md-6 col-sm-12 d-flex justify-content-center pl-5">
            <div class="col-12">
            <h3 class="txt-color-primary good-times-rg">NUESTRA CULTURA</h3>
            <p class="text-justify">
                Buscamos siempre el bien colectivo, tanto de nuestros colaboradores como de nuestros clientes y entorno, 
                es la razón por la que siempre buscamos tener clientes satisfechos en un modelo de negocio donde 
                entreguemos valor a nuestros clientes a un precio competitivo, que nos permita seguir generando bienestar
                a nuestros empleados, accionistas y a la sociedad, bajo normas de operación éticas.
            </p>
            <p class="text-justify">
                Mantenemos una estructura organizacional simple que nos permite tener una comunicación fluida y 
                sencilla con todos nuestros colaboradores, modelo que llevamos a la ejecución de los proyectos 
                con nuestros clientes y socios.                  
            </p>
        </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <img src="{{ site.baseurl }}/assets/img/nosotros/5.png" class="mx-auto d-block img-fluid" alt="imagen">
        </div>
    </div>
</div>
<div class="py-5">
    <div class="row px-5 dinpro-light">
        <div class="col-md-6 col-sm-12">
            <img src="{{ site.baseurl }}/assets/img/nosotros/6.png" class="mx-auto d-block img-fluid p-5" alt="imagen">
        </div>
        <div class="col-md-6 col-sm-12 py-3 pr-4">
            <div class="col-10 p-3">
                <h3 class="txt-color-primary good-times-rg">CRECIMIENTO</h3>
                <p class="text-justify">
                    Nos retamos constantemente a adquirir nuevas habilidades y conocimientos, para crecer como 
                    organización, personas y entorno, y contar con mejores perspectivas de abordar los retos de 
                    negocio que constantemente se nos presentan en la ejecución de proyectos con nuestros clientes. 
                </p>
        </div>
        </div>
       
    </div>
</div>