<div class="bg-gray pb-5">
    <div class="container py-5" id="contact.contactanos">
        <div class="row text-justify">
            <div class="col-sm-12 col-md-6 dinpro-light px-4 py-3">
                <h4 class="txt-color-primary good-times-rg">{{site.data.contact.contact[page.lang]['hablemos_titulo']['texto']}}</h4>
                <h4>{{site.data.contact.contact[page.lang]['hablemos1_titulo']['texto']}}</h4>
                <h4>{{site.data.contact.contact[page.lang]['hablemos1_1_titulo']['texto']}}
                </h4>

                <button type="button" class="btn btn-outline-primary border-black dinpro-bold mt-4 mb-4"
                    data-toggle="modal" data-target="#politicasModal">{{site.data.contact.contact[page.lang]['hablemos1_2_titulo']['texto']}} <i
                        class="fas fa-arrow-right"></i></button>

            </div>
            <div class="col-sm-12 col-md-6 dinpro-bold py-3">
                <form onsubmit="event.preventDefault(); submitForm();" >
                    <h4>{{site.data.contact.contact[page.lang]['datos_titulo']['texto']}}</h4>
                    <div class="form-row dinpro-regular">
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" placeholder="{{site.data.contact.contact[page.lang]['nombre_titulo']['texto']}}" name="firstname"
                                required id="inputName">
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" placeholder="{{site.data.contact.contact[page.lang]['apellido_titulo']['texto']}}" name="lastname"
                                required id="inputLastName">
                        </div>
                        <div class="form-group col-md-6">
                            <input type="tel" class="form-control" placeholder="{{site.data.contact.contact[page.lang]['telefono_titulo']['texto']}}" name="mobilephone" 
                                required id="inputCellphone">
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" id="inputCompany" placeholder="{{site.data.contact.contact[page.lang]['empresa_titulo']['texto']}}" name="company" 
                                required>
                        </div>
                        <div class="form-group col-md-12">
                            <input type="email" class="form-control" id="inputEmail" name="email" required
                                placeholder="{{site.data.contact.contact[page.lang]['correo_titulo']['texto']}}">
                        </div>
                    </div>
                    <h4>{{site.data.contact.contact[page.lang]['datos1_titulo']['texto']}}</h4>
                    <div class="form-row">
                        <div class="form-group w-100">
                            <textarea class="form-control" placeholder="{{site.data.contact.contact[page.lang]['mensaje_titulo']['texto']}}" name="message" required
                                id="inputMessage"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <div id="gridCheck"></div>
                            <div id="g-recaptcha-error"></div>
                            <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
                                async defer>
                            </script>
                        </div>
                    </div>
                    <button type="submit" value="Submit" class="btn btn-outline-primary float-right border-primary">{{site.data.contact.contact[page.lang]['datos1_1_titulo']['texto']}} <i
                            class="fas fa-arrow-right"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>