<div class="jumbotron jumbotron-fluid jumbotron-bg row dinpro-bold h-auto sf-jumbo-customers">
    <div class="text-white h-100 p-5">
        <h4 class="display-4 good-times-rg ml-md-5 pl-md-5" id="title">{{site.data.customers_intern[page.lang]['interna_titulo']['text']}}</h4>
    </div>
</div>
<div class="px-md-5">
    <div class="row px-3 px-md-5 dinpro-light" id="sobre-nosotros">
        <div class="col-md-6 col-sm-12 d-flex justify-content-center p-md-5">
                <div class="col-12 pt-md-3 pl-0">
                    <h5 class="dinpro-bold">{{site.data.customers_intern[page.lang]['algunos_de_nuestros_titulo']['text']}}</h5>
                    <h1 class="txt-color-primary good-times-rg display-3" id="subtitle">{{site.data.customers_intern[page.lang]['casos_exito_titulo']['text']}}</h1>
                    <div class="pr-md-3 pr-sm-0 pt-md-5 h3">
                        <p class="text-justify">
                            <span class="dinpro-bold">{{site.data.customers_intern[page.lang]['cliente_titulo']['text']}}</span>
                        </p>
                        <p class="text-justify">
                            {{site.data.customers_intern[page.lang]['hospital_titulo']['text']}}
                        </p>
                        <p class="text-justify">
                            {{site.data.customers_intern[page.lang]['hospital2_titulo']['text']}}
                        </p>
                    </div>
                </div>
        </div>
        <div class="col-md-6 col-sm-12 pt-md-5">
            <div class="pt-md-5">
                <img src="{{ site.baseurl }}/assets/img/clientes/1.png" class="mx-auto d-block img-fluid pt-5" alt="imagen">
            </div>
        </div>
    </div>
</div>
<div class="px-md-5 dinpro-light">
    <div class="row px-4 ">
        <div class="px-md-4">
            <div class="col-12 p-md-5">
                <h3 class="txt-color-primary good-times-rg py-3 display-4" id="subtitle">{{site.data.customers_intern[page.lang]['desafio_titulo']['text']}}</h3>
                <p class="text-justify h3">{{site.data.customers_intern[page.lang]['desafio2_titulo']['text']}}
                </p>
                <p class="text-justify h3">{{site.data.customers_intern[page.lang]['desafio3_titulo']['text']}}
                </p>
                <p class="dinpro-bold my-3 text-justify h3">{{site.data.customers_intern[page.lang]['desafio4_titulo']['text']}}
                </p>
            </div>
        </div>
    </div>
</div>
<div class="bg-main text-white dinpro-light py-5">
    <div class="row p-md-5">
        <div class="col-md-6 col-sm-12">
            <img src="{{ site.baseurl }}/assets/img/clientes/2.png" class="mx-auto d-block img-fluid" alt="imagen">
        </div>
        <div class="col-md-6 col-sm-12 py-md-3 p-5 pr-md-4 d-flex justify-content-center">
            <div class="row pr-md-5 pt-4">
                <div class="col-12">
                    <h3 class="txt-color-primary good-times-rg pb-3 display-4" id="subtitle">{{site.data.customers_intern[page.lang]['solucion_titulo']['text']}}</h3>
                    <div class="pr-md-5 pr-sm-0 dinpro-light h4">
                    <p class="text-justify h3">
                        {{site.data.customers_intern[page.lang]['solucion2_titulo']['text']}}
                    </p></p>
                    <p class="text-justify h3">
                        {{site.data.customers_intern[page.lang]['solucion3_titulo']['text']}}         
                    </p>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
<div class="row py-2 p-md-5">
    <div class="col-md-8 py-2 p-md-5 mx-auto">
        <div class="embed-responsive embed-responsive-16by9 px-md-5">
            <iframe allowfullscreen="" class="embed-responsive-item" src="https://www.youtube.com/embed/1aV5BwdHB5U?rel=0"></iframe>
        </div>
    </div>
</div>
</div>