---

---
<div id="nuestros-clientes" class="carousel slide bottom-shadow-section p-5 w-100 d-none d-md-block"
data-ride="carousel">
<div class="carousel-inner w-100 text-center row" role="listbox">
    <div class="carousel-item active">
        <div class="col-md-4 mx-2">
            <img src="{{ site.baseurl }}/assets/img/kavakcliente.png" class="px-5 img-fluid w-50 img-thumbnail sf-grey-transition"
                alt="">
        </div>
    </div>
    <div class="carousel-item">
        <div class="col-md-4 mx-2">
            <img src="{{ site.baseurl }}/assets/img/montecliente.png" class="px-5 img-fluid w-50 img-thumbnail sf-grey-transition"
                alt="">
        </div>
    </div>
    <div class="carousel-item">
        <div class="col-md-4 mx-2">
            <img src="{{ site.baseurl }}/assets/img/chepcliente.png" class="px-5 img-fluid w-50 img-thumbnail sf-grey-transition"
                alt="">
        </div>
    </div>
      <div class="carousel-item">
        <div class="col-md-4 mx-2">
            <img src="{{ site.baseurl }}/assets/img/belcorpcliente.png" class="px-5 img-fluid w-50 img-thumbnail sf-grey-transition"
                alt="">
        </div>
    </div>
      <div class="carousel-item">
        <div class="col-md-4 mx-2">
            <img src="{{ site.baseurl }}/assets/img/donaldsoncliente.png" class="px-5 img-fluid w-50 img-thumbnail sf-grey-transition"
                alt="">
        </div>
    </div>
      <div class="carousel-item">
        <div class="col-md-4 mx-2">
            <img src="{{ site.baseurl }}/assets/img/kkcliente.png" class="px-5 img-fluid w-50 img-thumbnail sf-grey-transition"
                alt="">
        </div>
    </div>
      <div class="carousel-item">
        <div class="col-md-4 mx-2">
            <img src="{{ site.baseurl }}/assets/img/manecliente.png" class="px-5 img-fluid w-50 img-thumbnail sf-grey-transition"
                alt="">
        </div>
    </div>
      <div class="carousel-item">
        <div class="col-md-4 mx-2">
            <img src="{{ site.baseurl }}/assets/img/exituscliente.png" class="px-5 img-fluid w-50 img-thumbnail sf-grey-transition"
                alt="">
        </div>
    </div>
      <div class="carousel-item">
        <div class="col-md-4 mx-2">
            <img src="{{ site.baseurl }}/assets/img/panamericanocliente.png" class="px-5 img-fluid w-50 img-thumbnail sf-grey-transition"
                alt="">
        </div>
    </div>
      <div class="carousel-item">
        <div class="col-md-4 mx-2">
            <img src="{{ site.baseurl }}/assets/img/clientes-2.png" class="px-5 img-fluid w-50 img-thumbnail sf-grey-transition"
                alt="">
        </div>
    </div>
    <div class="carousel-item">
        <div class="col-md-4 mx-2">
            <img src="{{ site.baseurl }}/assets/img/clientes-3.png" class="px-5 img-fluid w-50 img-thumbnail sf-grey-transition"
                alt="">
        </div>
    </div>
    <div class="carousel-item">
        <div class="col-md-4 mx-2">
            <img src="{{ site.baseurl }}/assets/img/clientes-4.png" class="px-5 img-fluid w-50 img-thumbnail sf-grey-transition"
                alt="">
        </div>
    </div>
    <div class="carousel-item">
        <div class="col-md-4 mx-2">
            <img src="{{ site.baseurl }}/assets/img/clientes-5.png" class="px-5 img-fluid w-50 img-thumbnail sf-grey-transition"
                alt="">
        </div>
    </div>
    <div class="carousel-item">
        <div class="col-md-4 mx-2">
            <img src="{{ site.baseurl }}/assets/img/sikacliente.png" class="px-5 img-fluid w-50 img-thumbnail sf-grey-transition"
                alt="">
        </div>
    </div>
    <div class="carousel-item">
        <div class="col-md-4 mx-2">
            <img src="{{ site.baseurl }}/assets/img/clientes-6.png" class="px-5 img-fluid w-50 img-thumbnail sf-grey-transition"
                alt="">
        </div>
    </div>
    <div class="carousel-item">
        <div class="col-md-4 mx-2">
            <img src="{{ site.baseurl }}/assets/img/clientes-1.png" class="px-5 img-fluid w-50 img-thumbnail sf-grey-transition"
                alt="">
        </div>
    </div>  
    <div class="carousel-item">
        <div class="col-md-4 mx-2">
            <img src="{{ site.baseurl }}/assets/img/clientes-7.png" class="px-5 img-fluid w-50 img-thumbnail sf-grey-transition"
                alt="">
        </div>
    </div>

</div>
<!-- <a class="carousel-control-prev sf-carusel" href="#nuestros-clientes" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon " aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next sf-carusel" href="#nuestros-clientes" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
</a> -->
</div>