<div class="jumbotron jumbotron-fluid jumbotron-bg row dinpro-bold h-auto sf-jumbo-customers">
    <div class="text-white h-100 p-5">
        <h4 class="display-4 good-times-rg ml-md-5 pl-md-5" id="title">NUESTROS CLIENTES</h4>
    </div>
</div>
<div class="px-md-5">
    <div class="row px-3 px-md-5 dinpro-light" id="sobre-nosotros">
        <div class="col-md-6 col-sm-12 d-flex justify-content-center p-md-5">
                <div class="col-12 pt-md-3 pl-0">
                    <h5 class="dinpro-bold">ALGUNOS DE NUESTROS -</h5>
                    <h1 class="txt-color-primary good-times-rg display-3" id="subtitle">CASOS DE ÉXITO</h1>
                    <div class="pr-md-3 pr-sm-0 pt-md-5 h3">
                        <p class="text-justify">
                            <span class="dinpro-bold">CLIENTE: Corporativo Hospital Satélite.</span>
                        </p>
                        <p class="text-justify">
                        Hospital privado de Alta Especialidad con una trayectoria desde 1986 que se ha distinguido
                        por su estabilidad, seguridad, calidad y atención humana en sus servicios, lo que los ha
                        posicionado como el hospital número uno en el norte del área metropolitana en la Ciudad de
                        México.
                        </p>
                        <p class="text-justify">
                        Se ha distinguido por su amplia trayectoria, atendiendo de manera integral a cada uno de sus
                        pacientes, quienes han colocado su vida en manos de este gran equipo médico, operativo y 
                        administrativo, mismos que trabajan en la búsqueda continua de "la salud con sentido humano", y
                        que han logrado un lugar de calidez, seguridad y calidad.
                        </p>
                    </div>
                </div>
        </div>
        <div class="col-md-6 col-sm-12 pt-md-5">
            <div class="pt-md-5">
                <img src="{{ site.baseurl }}/assets/img/clientes/1.png" class="mx-auto d-block img-fluid pt-5" alt="imagen">
            </div>
        </div>
    </div>
</div>
<div class="px-md-5 dinpro-light">
    <div class="row px-4 ">
        <div class="px-md-4">
            <div class="col-12 p-md-5">
                <h3 class="txt-color-primary good-times-rg py-3 display-4" id="subtitle">DESAFÍO</h3>
                <p class="text-justify h3">Anteriormente Hospital Satélite se apoyaba en la comunidad de becarios del TEC para
                    atender actividades de alto volúmen y repetitivas que consumian tiempo del personal administrativo.
                </p>
                <p class="text-justify h3"> El uso de becarios permitía que el personal administrativo se enfocara en actividades de toma de decisión
                    y análisis.
                </p>
                <p class="dinpro-bold my-3 text-justify h3">Derivado del tema de la pandemia tuvieron que suspender el programa de becarios; lo cual
                    generó una carga excesiva de trabajo para el equipo administrativo, afectando 56 procesos administrativos y 
                    requiriendo extender las jornadas laborales de los colaboradores.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="bg-main text-white dinpro-light py-5">
    <div class="row p-md-5">
        <div class="col-md-6 col-sm-12">
            <img src="{{ site.baseurl }}/assets/img/clientes/2.png" class="mx-auto d-block img-fluid" alt="imagen">
        </div>
        <div class="col-md-6 col-sm-12 py-md-3 p-5 pr-md-4 d-flex justify-content-center">
            <div class="row pr-md-5 pt-4">
                <div class="col-12">
                    <h3 class="txt-color-primary good-times-rg pb-3 display-4" id="subtitle">SOLUCIÓN</h3>
                    <div class="pr-md-5 pr-sm-0 dinpro-light h4">
                    <p class="text-justify h3">
                        Después de realizar un piloto exitoso y evaluar la tecnología de Automation Anywhere y las capacidades
                        de su socio de negocio SMART FORCE, se decidió arrancar un proyecto piloto para mostrar a la organización
                        los beneficios del uso de la tecnología RPA.
                    </p></p>
                    <p class="text-justify h3">
                        Ya con resultados tangibles, se tiene un programa de automatización de todos aquellos procesos administrativos
                        que permitirán al Hospital, ser más eficiente, mejorar tiempos de atención a clientes y pacientes, así como
                        acelerar procesos de recuperación de cartera con aseguradoras.               
                    </p>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
<div class="row py-2 p-md-5">
    <div class="col-md-8 py-2 p-md-5 mx-auto">
        <div class="embed-responsive embed-responsive-16by9 px-md-5">
            <iframe allowfullscreen="" class="embed-responsive-item" src="https://www.youtube.com/embed/1aV5BwdHB5U?rel=0"></iframe>
        </div>
    </div>
</div>
</div>