---

---
<footer class="bg-main text-white dinpro-regular pt-5">
    <div class="container py-5">
        <div class="row py-5">
            <div class="col-sm-12 col-md-4 pb-3">
                <img src="{{ site.baseurl }}/assets/img/big-logo.png" class="my-auto d-block img-fluid p-4 " alt="logo">
                 <img src="{{ site.baseurl }}/assets/img/big-logo.png" class="my-auto d-block img-fluid p-4 " alt="logo">
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="m-3">
                    <p>{{site.data.footer.descripcion.texto[page.lang]}}
                    </p>
                    <p>
                        <a class="nav-item" href="mailto:contacto@smart-force.com">contacto@smart-force.com</a>
                    </p>
                    <p class="">
                        <a href="https://www.facebook.com/SmartForceMx" target="_blank" class="mr-1"><img class="h-50 sf-grey-img"
                                src="{{ site.baseurl }}/assets/img/icons/facebook-white.png" alt=""> </a>
                        <a href="https://www.instagram.com/smartforcemx/" target="_blank" class="mr-1"><img class="h-50 sf-grey-img"
                                src="{{ site.baseurl }}/assets/img/icons/instagram-white.png" alt=""> </a>
                        <a href="https://www.linkedin.com/company/smartforcemx" target="_blank" class="mr-1"><img
                                class="h-50 sf-grey-img" src="{{ site.baseurl }}/assets/img/icons/linkedin-white.png" alt=""> </a>
                        <a href="https://www.youtube.com/channel/UC5cmjrzpOQK0YVaFz4Yzr8g" target="_blank" class="mr-1"><img
                                class="h-50 sf-grey-img" src="{{ site.baseurl }}/assets/img/icons/youtube-white.png" alt="">
                        </a>
                    </p>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="{{site.data.footer.nosotros_link.url[page.lang]}}">{{site.data.footer.nosotros_link.texto[page.lang]}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{site.data.footer.terminos_link.url[page.lang]}}">{{site.data.footer.terminos_link.texto[page.lang]}}</a>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="btn btn-link nav-link" data-toggle="modal"
                            data-target="#politicasModal">{{site.data.footer.politicas_link.texto[page.lang]}}</button>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{site.data.footer.mapa_sitio_link.url[page.lang]}}">{{site.data.footer.mapa_sitio_link.texto[page.lang]}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-primary border-primary dinpro-bold m-3" href="{{site.data.footer.mas_info_link.url[page.lang]}}"><span
                                class="text-white">{{site.data.footer.mas_info_link.texto[page.lang]}} &nbsp;</span><i
                                class="fas fa-arrow-right"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="go-top-ref" class="fixed-bottom pl-5 pb-4 d-none d-md-block">
        <div class="float-left ref-top">
            <a href="#header">
                <img class="w-75 sf-grey-img" src="{{ site.baseurl }}/assets/img/icons/arrow-point.png" alt="">
            </a>
        </div>
    </div>
    <div class="col bg-black">
        <div class="text-center text-light">SMART FORCE {{site.data.footer.derechos_reservados.texto[page.lang]}} 2020
            </div>
      
    </div>

</footer>
<div class="modal fade" id="politicasModal" tabindex="-1" role="dialog" aria-labelledby="politicasModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="politicasModalLabel">{{site.data.footer.politicas_link.texto[page.lang]}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <pre>
SFORCE, S.A. de C.V.

Con domicilio en Av. Revolución 1564 interior A, Colonia Guadalupe Inn, Delegación Álvaro Obregón, Ciudad de México 01020, en cumplimiento de lo establecido en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares y su Reglamento, con la finalidad de garantizar la privacidad y el tratamiento legítimo e informado de sus Datos Personales, pone a su disposición el siguiente aviso de privacidad:
CONSENTIMIENTO DEL TITULAR
Para efectos de lo dispuesto en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares (la “LFPDP”) y demás legislación aplicable, el Titular manifiesta (i) que el presente Aviso le ha sido dado a conocer por el Responsable, (ii) haber leído, entendido y acordado los términos expuestos en este Aviso, por lo que otorga su consentimiento respecto del tratamiento de sus datos personales, se llevarán a cabo actos que constituyen el consentimiento expreso del titular y (iii) que otorga su consentimiento para que SFORCE o sus Encargados realicen transferencias y/o remisiones de datos personales en términos del apartado denominado  “Transferencias”  del presente Aviso.
FINALIDADES
El Tratamiento de los Datos Personales, tiene como finalidad primordial:
A. Proveer los servicios y productos requeridos
B. Informar sobre nuevos productos o servicios que estén relacionados con lo contratado o adquirido por el Cliente
C. Dar cumplimiento a las obligaciones contraídas con nuestros clientes
D. Informar sobre los cambios de nuestros productos o servicios, evaluar la calidad del servicio, y publicidad en general, ofrecidos por o relacionados con SFORCE.
DATOS PERSONALES QUE SE RECABAN
El concepto “Datos Personales” en el presente Aviso se refiere a toda aquella información de carácter personal que pueda ser usada para identificarlo a Usted, los cuales serán los siguientes:
•    Nombre completo
•    Edad
•    Fecha de nacimiento
•    Domicilio
•    Nacionalidad
•    Correo electrónico
•    Teléfono particular, de oficina o laboral, celular
•    Empresa donde labora
SFORCE le informa que, en caso de recabar datos financieros y patrimoniales, como lo son los Datos de la Tarjeta de Crédito no requieren consentimiento expreso para ser utilizados. Lo anterior, de conformidad con los artículos 8, 10 y 37 de la Ley.
TRANSFERENCIAS
SFORCE podrá transferir sus Datos Personales a terceros relacionados comercial o contractualmente con SFORCE, siempre y cuando sea necesario para cumplir con las finalidades descritas en el presente aviso de privacidad. SFORCE podrá también transferir sus Datos Personales en los casos específicos previstos por la ley.
Por lo anterior SFORCE podrá transferir sus Datos Personales a las siguientes entidades:
•    Las empresas afiliadas y subsidiarias de SFORCE nacionales e internacionales.
•    Terceros proveedores de servicios para el cumplimiento de las obligaciones legales adquiridas por SFORCE.
•    Socios comerciales con los que SFORCE, lleve a cabo convenios o contratos enfocados al desarrollo de nuevos productos y/o servicios.
•    Terceros que soliciten referencias laborales de los ex-empleados SFORCE.
•    Terceros derivado de una reestructura corporativa, incluyendo, la fusión, consolidación, venta, liquidación o transferencia de activos.
•    Otras transmisiones previstas en la Ley citada y su Reglamento.
Los terceros y las entidades receptoras de Datos Personales, asumen las mismas obligaciones y/o responsabilidades de SFORCE, de conformidad con lo descrito en el presente Aviso de Privacidad. SFORCE se asegurará de que dichos terceros mantengan Medidas de seguridad administrativas, técnicas y físicas adecuadas para resguardar sus Datos Personales, así como que dichos terceros utilicen sus Datos Personales única y exclusivamente para las finalidades para las cuales fueron contratados y de conformidad con el presente Aviso de Privacidad y con la Ley.
DERECHOS ARCO
SFORCE le informa  al  titular de los Datos Personales  que podrá ejercer en cualquier momento los Derechos de acceso, rectificación, cancelación y/u oposición (derechos ARCO) al tratamiento de sus Datos Personales, así como revocar su consentimiento, a través de la presentación de una solicitud por escrito en el domicilio de SFORCE, o bien a través del correo electrónico: contacto@smart-force.com
Para facilitar el acceso a los derechos ARCO, se describen a continuación:
•    Acceso: usted podrá solicitar se le informe qué tipo de Datos Personales están siendo tratados por SFORCE.
•    Rectificación: usted puede solicitar se corrija o complete los Datos Personales que sean incorrectos o estén incompletos y que estén en poder de SFORCE. Usted como titular de sus Datos Personales tendrá la responsabilidad de informar a SFORCE cuando deba hacerse un cambio o corrección en sus Datos Personales.
•    Cancelación: usted puede solicitar que se cancelen los Datos Personales, lo puede hacer personalmente o por conducto de su representante legal, debidamente acreditado. Existen casos en que los Datos Personales no pueden ser cancelados por disposición de ley.
•    Oposición: usted puede oponerse al uso que le esté dando a sus Datos Personales, lo puede hacer personalmente o por conducto de su representante legal, debidamente acreditado.
La solicitud para ejercer sus derechos ARCO deberá contener los siguientes datos:
•    El nombre completo del titular de los Datos Personales.
•    El domicilio y otro medio para comunicarle la respuesta a su solicitud;
•    Los documentos vigentes que acrediten su identidad (copia simple en formato impreso o electrónico de su credencial de elector, pasaporte o Visa) o, en su caso, la representación legal del Titular (copia simple en formato impreso o electrónico de la carta poder simple con firma autógrafa del Titular, el mandatario y sus correspondientes identificaciones oficiales vigentes – credencial de elector, pasaporte o Visa);
•    La descripción clara y precisa de los datos respecto de los que busca ejercer alguno de los Derechos ARCO, y
•    Cualquier otro elemento o documento que facilite la localización de los Datos Personales.
En el caso de las solicitudes de rectificación de datos personales, el Titular deberá también indicar las modificaciones a realizarse y aportar la documentación que sustente su petición.
Para dar cumplimiento a la obligación de acceso a sus datos personales, se hará previa acreditación de la identidad del titular o personalidad del representante; poniendo la información a disposición en sitio en el domicilio del Responsable. Se podrá acordar otro medio entre el Titular y el Responsable siempre que la información solicitada así lo permita.
Para el ejercicio de cualquiera de los derechos ARCO, así como solicitar los formatos que apliquen,  el Titular podrá enviar la solicitud respectiva a la dirección de correo electrónico contacto@smart-force.com , o por escrito a la siguiente dirección: Av. Revolución 1564 interior A, Colonia Guadalupe Inn, Delegación Álvaro Obregón, Ciudad de México 01020. El titular describirá los Datos Personales a que se refiere y el Derecho que busca ejercer.
En caso de que la información proporcionada en su solicitud sea errónea o insuficiente, o bien, no se acompañen los documentos de acreditación correspondientes, podremos solicitarle, dentro de los cinco días hábiles siguientes a la recepción de la solicitud, que aporte los elementos o documentos necesarios para dar trámite a la misma. El Titular contará con diez días hábiles para atender el requerimiento, contados a partir del día siguiente en que lo haya recibido.
De no dar respuesta en dicho plazo, se tendrá por no presentada la solicitud correspondiente.
SFORCE responderá al Titular en un plazo máximo de veinte días hábiles, contados desde la fecha en que se recibió la solicitud a efecto de que, si resulta procedente, haga efectiva la misma dentro de los quince días hábiles siguientes a que se comunique la respuesta. En todos los casos, la respuesta se dará por la misma vía por la que haya presentado su solicitud o en su caso por cualquier otro medio acordado con el Titular. Los plazos antes referidos podrán ser ampliados en términos de la LFPDP.
LIMITACIÓN DE USO Y DIVULGACIÓN DE INFORMACIÓN
El Responsable y/o sus Encargados conservarán los datos personales del Titular durante el tiempo que sea necesario para procesar sus solicitudes de información, productos y/o servicios, así como para mantener los registros contables, financieros y de auditoria en términos de la LFPDP y de la legislación mercantil, fiscal y administrativa vigente.
Los datos personales recolectados se encontrarán protegidos por medidas de seguridad administrativas, técnicas y físicas adecuadas contra el daño, pérdida, alteración, destrucción o uso, acceso o tratamiento no autorizados, de conformidad con lo dispuesto en la LFPDP y la demás legislación aplicable. No obstante lo señalado anteriormente, SFORCE no garantiza que terceros no autorizados no puedan tener acceso a los sistemas físicos o lógicos de los Titulares o del Responsable o en los documentos electrónicos y archivos almacenados en sus sistemas. En consecuencia, SFORCE no será en ningún caso responsable de los daños y perjuicios que pudieran derivarse de dicho acceso no autorizado.
Asimismo, Usted puede limitar el uso o divulgación de sus Datos Personales de conformidad con lo siguiente:
•    Inscribirse en el Registro Público para evitar Publicidad de la Procuraduría Federal del Consumidor. Para mayor información respecto de esta opción, usted puede ponerse en contacto directamente con la PROFECO ingresando a la siguiente liga: http://rpc.profeco.gob.mx o llamando desde México, Guadalajara y Monterrey al 96 28 00 00 y desde el resto de la República Mexicana al 01 800 962 8000.
•    También puede realizar su inscripción en el siguiente vínculo, en el apartado: “consumidores – registra tu número telefónico” ingresando los datos solicitados.
•    Solicitar a SFORCE, su inscripción al “Listado de Exclusión”, con el objeto de no recibir información de nuestros productos y servicios.
MODIFICACIONES AL AVISO DE PRIVACIDAD
SFORCE se reserva el derecho de modificar el presente Aviso de Privacidad como estime conveniente. Por lo que es importante que usted  revise  periódicamente si se ha subido a la página La versión actualizada del Aviso de Privacidad y verificar si tiene algún cambio relevante, el cual estará a su disposición el sitio web www.smart-force.com  en la sección “Aviso de Privacidad”. 
Por lo cual SFORCE no es responsable de las modificaciones que usted desconozca con motivo de la no revisión periódica del mismo.
SFORCE reconoce que es posible que el sitio www.smart-force.com   presente fallas, por lo que en caso de presentarse alguna en este sitio, deberá enviar un correo electrónico a la siguiente dirección: contacto@smart-force.com 
DENUNCIAS
Si El Titular considera que su Derecho a la Protección de Datos Personales ha sido objeto de un tratamiento indebido o contrario a las disposiciones de la Ley Federal de Protección de Datos Personales en Posesión de los Particulares y su Reglamento, podrá interponer una denuncia o queja ante el Instituto Nacional de Transparencia, Acceso a la Información y Protección de Datos Personales (INAI), para mayor información:
A. Comuníquese al servicio telefónico gratuito Tel INAI 01 800 835 43 24. El horario de atención es de 09:00 a 18:00 horas, de lunes a jueves y el viernes de 09:00 a 15:00 horas del centro del país;
B. También puede acudir al domicilio ubicado en Insurgentes Sur No. 3211 Col. Insurgentes Cuicuilco, Delegación Coyoacán, C.P. 04530; o
C. Visite el siguiente link: http://www.ifai.org.mx 

            </pre>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{site.data.footer.btn_cerrar.texto[page.lang]}}</button>
            </div>
        </div>
    </div>
</div>
