<div class="bg-black">
    <header id="header" class="container">
        <nav class="row py-2">
            <div class="col d-none d-sm-block d-md-none">
                <a href="https://www.facebook.com/SmartForceMx" target="_blank"><img class="h-75 sf-grey-img"
                        src="{{ site.baseurl }}/assets/img/icons/facebook-white.png" alt=""> </a>
                <a href="https://www.instagram.com/smartforcemx/" target="_blank"><img class="h-75 sf-grey-img"
                        src="{{ site.baseurl }}/assets/img/icons/instagram-white.png" alt=""> </a>
                <a href="https://www.linkedin.com/company/smartforcemx" target="_blank"><img class="h-75 sf-grey-img"
                        src="{{ site.baseurl }}/assets/img/icons/linkedin-white.png" alt=""> </a>
                <a href="https://www.youtube.com/channel/UC5cmjrzpOQK0YVaFz4Yzr8g" target="_blank"><img class="h-75 sf-grey-img"
                        src="{{ site.baseurl }}/assets/img/icons/youtube-white.png" alt=""> </a>
                <div class="float-right">
                    <span class="language-selection pt-4 dinpro-bold">Seleccionar idioma</span>
                    <a href=""> <img src="{{ site.baseurl }}/assets/img/lan-mexico.png" alt="" class="h-75 sf-grey-img"> </a>
                    <a href=""> <img src="{{ site.baseurl }}/assets/img/lan-usa.png" alt="" class="h-75 sf-grey-img unselected"> </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 d-none d-md-block">
                <a href= "https://www.facebook.com/SmartForceMx" target="_blank"><img class="h-75 sf-grey-img"
                        src="{{ site.baseurl }}/assets/img/icons/facebook-white.png" alt="" > </a>
                <a href="https://www.instagram.com/smartforcemx/" target="_blank"><img class="h-75 sf-grey-img"
                        src="{{ site.baseurl }}/assets/img/icons/instagram-white.png" alt=""> </a>
                <a href="https://www.linkedin.com/company/smartforcemx" target="_blank"><img class="h-75 sf-grey-img"
                        src="{{ site.baseurl }}/assets/img/icons/linkedin-white.png" alt=""> </a>
                <a href="https://www.youtube.com/channel/UC5cmjrzpOQK0YVaFz4Yzr8g" target="_blank"><img class="h-75 sf-grey-img"
                        src="{{ site.baseurl }}/assets/img/icons/youtube-white.png" alt=""> </a>
            </div>
            <div class="col-sm-6 col-md-6 offset-lg-6 col-lg-3 d-none d-md-block">
                <span class="language-selection pt-4 dinpro-bold">Seleccionar idioma</span>
                <a href=""> <img src="{{ site.baseurl }}/assets/img/lan-mexico.png" alt="" class="h-75 sf-grey-img"> </a>
                <a href=""> <img src="{{ site.baseurl }}/assets/img/lan-usa.png" alt="" class="h-75 sf-grey-img unselected"> </a>
            </div>
        </nav>
    </header>
</div>
<div class="bg-main py-4 site-header sticky-top">
    <header class="container navbar navbar-expand-lg">
        <a class="navbar-brand mr-0" href="/index"><img src="{{ site.baseurl }}/assets/img/small-logo.png" alt="" class="w-75"></a>
        <button class="navbar-toggler border-white" type="button" data-toggle="collapse" data-target="#navbarTop"
            aria-controls="navbarTop" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars text-white"></i>
        </button>
        <ul class="navbar-fixed-top nav-justified main-sf-navbar dinpro-bold collapse navbar-collapse  mr-auto mt-2 mt-lg-0"
            id="navbarTop">
            <li class="nav-item">
                <a class="nav-link active" href="/nosotros">Sobre nosotros </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/servicios">Servicios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#nuestros-clientes">Nuestros clientes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#nuestros-socios">Nuestros socios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contactanos">Contactanos</a>
            </li>
        </ul>
    </header>
</div>