<div class="jumbotron jumbotron-fluid jumbotron-bg row dinpro-bold h-auto sf-jumbo-join-us">
    <div class="container text-white text-center h-100 p-5">
        <h4>{{site.data.join_us[page.lang]['transformacion_titulo']['text']}}</h4>
        <div>
            <img src="{{ site.baseurl }}/assets/img/orange_rectangle.png" alt="">
        </div>
        <p>
            <a class="btn btn-outline-primary border-white mt-5" href="#contactanos">{{site.data.join_us[page.lang]['transformacion1_titulo']['text']}}&nbsp;&nbsp; <i
                    class="fas fa-arrow-right"></i></a>
        </p>
    </div>
</div>