---

---
<div class="jumbotron jumbotron-fluid jumbotron-bg row dinpro-bold h-auto sf-jumbo-partners">
    <div class="text-white h-100 p-5">
        <h4 class="display-4 good-times-rg ml-md-5 pl-md-5" id="title">{{site.data.partners_intern.socios_titulo.texto[page.lang]}}</h4>
    </div>
</div>
<div class="p-md-5">
    <div class="row p-md-5 dinpro-light" id="nuestros-socios">
        <div class="row px-md-5 pt-md-5">
            <div class="px-2 col-12">
                <h5 class="dinpro-bold px-5 p-md-0">{{site.data.partners_intern.smart_titulo.texto[page.lang]}}</h5>
                <div class="col-md-9 pl-0">
                    <h1 class="txt-color-primary good-times-rg display-3 pt-3 px-5 p-md-0" id="subtitle">{{site.data.partners_intern.smart1_titulo.texto[page.lang]}}</h1>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-12 d-flex justify-content-center px-3">
            <div class="col-12 pt-3 pl-md-4">
                <div class="pr-md-3 pr-sm-0 pt-md-5 h3">
                    <p class="text-justify px-2">
                        {{site.data.partners_intern.smart1_1_parrafo.texto[page.lang]}}
                    </p>
                    <p class="text-justify px-2">
                        {{site.data.partners_intern.smart1_2_parrafo.texto[page.lang]}}
                    </p>
                    <p class="text-justify px-2">
                        {{site.data.partners_intern.smart1_3_parrafo.texto[page.lang]}}
                    </p>
                    <p class="text-justify px-2">
                        <span class="dinpro-bold">{{site.data.partners_intern.smart1_4_parrafo.texto[page.lang]}}</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-12 d-flex align-items-center">
            <img src="{{ site.baseurl }}/assets/img/socios/1.png" class="mx-auto d-block img-fluid" alt="imagen">
        </div>   
    </div>
</div>
<div class="px-md-5 mx-md-4">
    <div class="row px-4">
        <h3 class="txt-color-primary good-times-rg p-5 display-4" id="subtitle">{{site.data.partners_intern.aliados_titulo.texto[page.lang]}}</h3>
    </div>
    <div class="row px-4">
        <div class="col-md-3 col-sm-12">
            <img src="{{ site.baseurl }}/assets/img/socio-sf1.png" class="mx-auto d-block img-fluid" alt="imagen">
        </div>
        <div class="col-md-9 col-12 d-flex text-justify">
            <div class="row pr-md-4 pt-4">
                <div class="col-12">
                    <div class="pr-md-5 pr-sm-0 dinpro-light h3 pt-3">
                        <p class="text-justify">
                            {{site.data.partners_intern.aliados1_parrafo.texto[page.lang]}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row px-4">
        <div class="col-md-3 col-sm-12">
            <img src="{{ site.baseurl }}/assets/img/ibsocio.png" class="mx-auto d-block img-fluid" alt="imagen">
        </div>

        <div class="col-md-9 col-sm-12 d-flex text-justify">
            <div class="row pr-md-4 pt-4">
                <div class="col-12">
                    <div class="pr-md-5 pr-sm-0 dinpro-light h3">
                        <p class="text-justify">
                            {{site.data.partners_intern.aliados1_1_parrafo.texto[page.lang]}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row px-4">
        <div class="col-md-3 col-sm-12">
            <img src="{{ site.baseurl }}/assets/img/gpsocio.png" class="mx-auto d-block img-fluid" alt="imagen">
        </div>

        <div class="col-md-9 col-sm-12 d-flex text-justify">
            <div class="row pr-md-4 pt-4">
                <div class="col-12">
                    <div class="pr-md-5 pr-sm-0 dinpro-light h3">
                        <p class="text-justify">
 {{site.data.partners_intern.aliados1_2_parrafo.texto[page.lang]}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>