<div class="jumbotron jumbotron-fluid jumbotron-bg row dinpro-bold h-auto" style="background-image: url('{{ site.baseurl }}/assets/img/socios/robot-handshake.jpg');">
    <div class="text-white h-100 p-5">
        <h4 class="display-4 good-times-rg ml-5 pl-5">NUESTROS SOCIOS</h4>
    </div>
</div>
<div class="p-5">
    <div class="row p-5 dinpro-light" id="nuestros-socios">
        <div class="row px-5 pt-5">
            <div class="px-2">
                <h5 class="dinpro-bold">SMART FORCE -</h5>
                <div class="col-9 pl-0">
                    <h1 class="txt-color-primary good-times-rg display-3">PARTNER OFICIAL DE AUTOMATION ANYWHERE</h1>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-sm-12 d-flex justify-content-center px-3">
            <div class="col-12 pt-3 pl-4">
                <div class="pr-md-3 pr-sm-0 pt-5 h3">
                    <p class="text-justify p-2">
                        Nuestro enfoque principal es ayudar a nuestros clientes a transformar sus operaciones
                        actuales para transicionar a un modelo digital, donde los asistentes virtuales permitan
                        que los humanos se enfoquen en actividades de mas valor dentro de su rol y las actividades
                        repetitivas -de alto volumen bajo valor- pero necesarias, sean completadas por asistentes
                        virtuales.
                    </p>
                    <p class="text-justify p-2">
                        Especializados en tecnologias disrruptivas que transforman la manera de operar de las 
                        organizaciones (RPA, ML, Chat-Bot, NLP).
                    </p>
                    <p class="text-justify p-2">
                        Modelos de trabajo basado en metodologias ágiles.
                    </p>
                    <p class="text-justify p-2">
                        <span class="dinpro-bold">Único partner con reconocimiento de venta y con certificación 
                        para dar capacitación de la plataforma AA en México.</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-12 pt-5">
            <img src="{{ site.baseurl }}/assets/img/socios/1.png" class="mx-auto d-block img-fluid pt-5" alt="imagen">
        </div>   
    </div>
</div>
<div class="px-5 mx-4">
    <div class="row px-4">
        <h3 class="txt-color-primary good-times-rg p-5 display-4">ALIADOS DE LOS MEJORES</h3>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-12">
            <img src="{{ site.baseurl }}/assets/img/socios/2.png" class="mx-auto d-block img-fluid" alt="imagen">
        </div>
        <div class="col-md-9 col-sm-12 d-flex justify-content-center">
            <div class="row pr-4 pt-4">
                <div class="col-12">
                    <div class="pr-md-5 pr-sm-0 dinpro-light h3 pt-3">
                        <p class="text-justify">
                            Logramos interacciones en tiempo real con clientes y usuarios para resolver solicitudes
                            y preguntas, combinando la tecnología de RPA con la de Chatbots.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-12">
            <img src="{{ site.baseurl }}/assets/img/socios/3.png" class="mx-auto d-block img-fluid" alt="imagen">
        </div>

        <div class="col-md-9 col-sm-12 d-flex justify-content-center">
            <div class="row pr-4 pt-4">
                <div class="col-12">
                    <div class="pr-md-5 pr-sm-0 dinpro-light h3">
                        <p class="text-justify">
                            Automatizamos procesos cuya fuente se encuentra en documentos y archivos de trabajo con
                            información no estructurada apalancándonos de una plataforma de procesamiento inteligente
                            de datos.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-12">
            <img src="{{ site.baseurl }}/assets/img/socios/4.png" class="mx-auto d-block img-fluid" alt="imagen">
        </div>
        
        <div class="col-md-9 col-sm-12 d-flex justify-content-center">
            <div class="row pr-4 pt-4">
                <div class="col-12 pt-5">
                    <div class="pr-md-5 pr-sm-0 dinpro-light h3 pt-5">
                        <p class="text-justify">
                            Trabajamos con diferentes empresas del sector PAC para brindar la mejor solución final a
                            nuestros clientes dentro de los procesos de facturación y contabilidad de sus empresas.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-12 pb-5">
            <img src="{{ site.baseurl }}/assets/img/socios/5.png" class="mx-auto d-block img-fluid pb-5" alt="imagen">
        </div>
    </div>
</div>