<div class="bg-main py-5 ">
    <div class="container py-5 carousel slide w-100" id="servicios" data-ride="carousel">
        <div class="carousel-inner w-100" role="listbox">
            <div class="carousel-item active">
                <div class="col-md-4">
                    <div class="card bg-main mx-auto">
                        <img class="card-img-top ease-img" src="{{ site.baseurl }}/assets/img/services-1.png" alt="">
                        <div class="card-body dinpro-light">
                            <h4 class="card-title dinpro-bold txt-color-primary text-center">{{site.data.services[page.lang]['rpa_ipa_titulo']['text']}}</h4>
                            <p class="card-text text-white">{{site.data.services[page.lang]['rpa_ipa1_titulo']['text']}}
                            </p>
                            <a href="{{site.data.header[page.lang]['servicios']['url']}}"
                                class="btn btn-primary btn-sm float-right full-fill dinpro-bold">{{site.data.services[page.lang]['rpa_ipa1_1_titulo']['text']}}<i
                                    class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="col-md-4">
                    <div class="card bg-main mx-auto">
                        <img class="card-img-top ease-img" src="{{ site.baseurl }}/assets/img/services-2.png" alt="">
                        <div class="card-body dinpro-light">
                            <h4 class="card-title dinpro-bold txt-color-primary text-center">{{site.data.services[page.lang]['chatbot_titulo']['text']}}</h4>
                            </br>
                            <p class="card-text text-white">{{site.data.services[page.lang]['chatbot1_titulo']['text']}}
                            </p>
                            <a href="{{site.data.header[page.lang]['servicios']['url']}}"
                                class="btn btn-primary btn-sm float-right full-fill dinpro-bold">{{site.data.services[page.lang]['chatbot1_1_titulo']['text']}}<i
                                    class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="col-md-4">
                    <div class="card bg-main mx-auto">
                        <img class="card-img-top ease-img" src="{{ site.baseurl }}/assets/img/services-3.png" alt="">
                        <div class="card-body dinpro-light">
                            <h4 class="card-title dinpro-bold txt-color-primary text-center">{{site.data.services[page.lang]['tdigital_titulo']['text']}}
                            </h4>
                            <p class="card-text text-white">{{site.data.services[page.lang]['tdigital1_titulo']['text']}}
                            </p>
                            <a href="{{site.data.header[page.lang]['servicios']['url']}}"
                                class="btn btn-primary btn-sm float-right full-fill dinpro-bold">{{site.data.services[page.lang]['tdigital1_1_titulo']['text']}}<i
                                    class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="col-md-4">
                    <div class="card bg-main mx-auto">
                        <img class="card-img-top ease-img" src="{{ site.baseurl }}/assets/img/services-4.png" alt="">
                        <div class="card-body dinpro-light">
                            <h4 class="card-title dinpro-bold txt-color-primary text-center">{{site.data.services[page.lang]['boarding_titulo']['text']}}
                            </h4>
                            <p class="card-text text-white">
                                {{site.data.services[page.lang]['boarding1_titulo']['text']}}
                            </p>
                            <a href="{{site.data.header[page.lang]['servicios']['url']}}"
                                class="btn btn-primary btn-sm float-right full-fill dinpro-bold">{{site.data.services[page.lang]['boarding1_1_titulo']['text']}}<i
                                    class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="col-md-4">
                    <div class="card bg-main mx-auto">
                        <img class="card-img-top ease-img" src="{{ site.baseurl }}/assets/img/services-5.png" alt="">
                        <div class="card-body dinpro-light">
                            <h4 class="card-title dinpro-bold txt-color-primary text-center">{{site.data.services[page.lang]['llave_titulo']['text']}}
                            </h4>
                            <p class="card-text text-white">
                                {{site.data.services[page.lang]['llave1_titulo']['text']}}
                            </p>
                            <a href="{{site.data.header[page.lang]['servicios']['url']}}"
                                class="btn btn-primary btn-sm float-right full-fill dinpro-bold">{{site.data.services[page.lang]['llave1_1_titulo']['text']}}<i
                                    class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="col-md-4">
                    <div class="card bg-main mx-auto">
                        <img class="card-img-top ease-img" src="{{ site.baseurl }}/assets/img/services-6.png" alt="">
                        <div class="card-body dinpro-light">
                            <h4 class="card-title dinpro-bold txt-color-primary text-center">{{site.data.services[page.lang]['robot_titulo']['text']}}
                            </h4>
                            <p class="card-text text-white">
                                {{site.data.services[page.lang]['robot1_titulo']['text']}}
                            </p>
                            <a href="{{site.data.header[page.lang]['servicios']['url']}}"
                                class="btn btn-primary btn-sm float-right full-fill dinpro-bold">{{site.data.services[page.lang]['robot1_1_titulo']['text']}}<i
                                    class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row dinpro-bold pt-5 sf-servicios-controls">
            <a href="#servicios" role="button" data-slide="prev" class="col text-right"
                onmouseover="hover(this,'prev');" onmouseout="unhover(this,'prev');">
                {{site.data.services[page.lang]['anterior_titulo']['text']}}
                <img src="{{ site.baseurl }}/assets/img/icons/prev-grey.png" alt="anterior" class="px-2">
            </a>
            <a href="#servicios" role="button" class="col" data-slide="next" onmouseover="hover(this,'next');"
                onmouseout="unhover(this,'next');">
                <img src="{{ site.baseurl }}/assets/img/icons/next-grey.png" alt="siguiente" class="px-2">
                {{site.data.services[page.lang]['siguiente_titulo']['text']}}
            </a>
        </div>
    </div>
</div>