<div class="jumbotron jumbotron-fluid jumbotron-bg row dinpro-bold h-auto sf-jumbo-services">
  <div class="text-white h-100 p-5">
      <h4 class="display-4 good-times-rg pl-md-5 ml-md-5" id="title">
        {{site.data.services_intern.services_intern[page.lang]['servicios_titulo']['texto']}}
      </h4>
  </div>
</div>
<div class="mx-auto col-md-10">
  <div class="accordion dinpro-light" id="accordions">
      <div class="sf-head-collapse my-5" id="headingOne">
          <h2 class="mb-0">
              <button aria-controls="collapseOne" aria-expanded="false" class="btn btn-link btn-block text-left" data-target="#collapseOne" data-toggle="collapse" type="button">
                  <img alt="arrow" class="float-right p-2" src="{{ site.baseurl }}/assets/img/servicios/Flecha-1.png"/>
                    <h3 class="txt-color-primary good-times-rg py-auto" id="t-accordion">
                        {{site.data.services_intern.services_intern[page.lang]['rpa_ipa_titulo']['texto']}}
                    </h3>
              </button>
          </h2>
      </div>
      <div aria-labelledby="headingOne" class="collapse" data-parent="#accordions" id="collapseOne">
          <div class="col-12">
            <div class="pr-md-3 pr-sm-0 pt-1 h4">
                <div class="row py-5">
                        <p class="text-justify h3">
                            {{site.data.services_intern.services_intern[page.lang]['rpa_ipa1_titulo']['texto']}}
                        </p>
                        <p class="text-justify">
                            {{site.data.services_intern.services_intern[page.lang]['rpa_ipa1_1_titulo']['texto']}}
                        </p>
                        <p class="text-justify h2 bg-black text-white p-2 dinpro-bold mt-5">
                            {{site.data.services_intern.services_intern[page.lang]['rpa_ipa2_titulo']['texto']}}
                        </p>
                    </div>
                    <div class="row pb-5">
                    <div class="col-md-6 col-sm-12">
                        <img alt="imagen" class="mx-auto d-block img-fluid" src="{{ site.baseurl }}/assets/img/servicios/AUTOMATIZACIONES/1.png"/>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="row no-gutters py-3">
                            <div class="col-1 pt-3">
                                <img alt="imagen" class="d-block img-fluid" src="{{ site.baseurl }}/assets/img/servicios/AUTOMATIZACIONES/Bullet.png"/>
                            </div>
                            <div class="col-11">
                                <p class="text-justify h4">
                                    {{site.data.services_intern.services_intern[page.lang]['rpa_ipa2_1_titulo']['texto']}}
                                </p>
                            </div>
                        </div>
                        <div class="row no-gutters py-3">
                            <div class="col-1 pt-3">
                                <img alt="imagen" class="d-block img-fluid" src="{{ site.baseurl }}/assets/img/servicios/AUTOMATIZACIONES/Bullet.png"/>
                            </div>
                            <div class="col-11">
                                <p class="text-justify h4">
                                    {{site.data.services_intern.services_intern[page.lang]['rpa_ipa2_2_titulo']['texto']}}
                                </p>
                            </div>
                        </div>
                        <div class="row no-gutters py-3">
                            <div class="col-1">
                                <img alt="imagen" class="d-block img-fluid" src="{{ site.baseurl }}/assets/img/servicios/AUTOMATIZACIONES/Bullet.png"/>
                            </div>
                            <div class="col-11">
                                <p class="text-justify h4">
                                    {{site.data.services_intern.services_intern[page.lang]['rpa_ipa2_3_titulo']['texto']}}
                                </p>
                            </div>
                        </div>
                        <div class="row no-gutters py-3">
                            <div class="col-1 pt-3">
                                <img alt="imagen" class="d-block img-fluid" src="{{ site.baseurl }}/assets/img/servicios/AUTOMATIZACIONES/Bullet.png"/>
                            </div>
                            <div class="col-11">
                                <p class="text-justify h4">
                                    {{site.data.services_intern.services_intern[page.lang]['rpa_ipa2_4_titulo']['texto']}}
                                </p>
                            </div>
                        </div>
                        <div class="row no-gutters py-3">
                            <div class="col-1 pt-1">
                                <img alt="imagen" class="d-block img-fluid" src="{{ site.baseurl }}/assets/img/servicios/AUTOMATIZACIONES/Bullet.png"/>
                            </div>
                            <div class="col-11">
                                <p class="text-justify h4">
                                    {{site.data.services_intern.services_intern[page.lang]['rpa_ipa2_5_titulo']['texto']}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          {% if site.data.videos.servicios_interna.automatizaciones.src != '' %}
          <div class="row p-md-5 col-12">
              <div class="col-md-10 mx-md-auto p-md-5">
                  <div class="embed-responsive embed-responsive-16by9">
                      <iframe allowfullscreen="" class="embed-responsive-item" src="{{site.data.videos.servicios_interna.automatizaciones.src}}">
                      </iframe>
                  </div>
              </div>
          </div>
          {% endif %}
          <div class="row no-gutters text-white dinpro-bold bg-sf-primary">
              <div class="col-12 p-2">
                  <h5 class="mt-3 text-center">
                    {{site.data.services_intern.services_intern[page.lang]['rpa_ipa3_titulo']['texto']}}
                      <a class="btn btn-outline-primary border-white ml-2" href="#contactanos">
                        {{site.data.services_intern.services_intern[page.lang]['rpa_ipa3_1_titulo']['texto']}}
                          <i class="fas fa-arrow-right">
                          </i>
                      </a>
                  </h5>
              </div>
          </div>
      </div>
      <div class="sf-head-collapse my-5" id="headingTwo">
          <h2 class="mb-0">
              <button aria-controls="collapseTwo" aria-expanded="false" class="btn btn-link btn-block text-left" data-target="#collapseTwo" data-toggle="collapse" type="button">
                <img alt="arrow" class="float-right p-2" src="{{ site.baseurl }}/assets/img/servicios/Flecha-1.png"/>
                  <h3 class="txt-color-primary good-times-rg py-auto" id="t-accordion">
                    {{site.data.services_intern.services_intern[page.lang]['llave_titulo']['texto']}}
                  </h3>
              </button>
          </h2>
      </div>
      <div aria-labelledby="headingTwo" class="collapse" data-parent="#accordions" id="collapseTwo">
          <div class="col-12">
            <div class="pr-md-3 pr-sm-0 pt-1 h4 py-4">
                <p class="text-justify">
                    {{site.data.services_intern.services_intern[page.lang]['llave1_titulo']['texto']}}
                </p>
            </div>
            <div class="row py-4">
                <div class="col-md-6 col-sm-12">
                    <img alt="imagen" class="mx-auto d-block img-fluid" src="{{ site.baseurl }}/assets/img/servicios/LLAVE EN MANO/1.png"/>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="row py-3">
                        <div class="col-12 mt-5">
                            <p class="text-justify h2 bg-black text-white p-2 dinpro-bold">
                                {{site.data.services_intern.services_intern[page.lang]['llave2_titulo']['texto']}}
                            </p>
                            <p class="text-justify h4">
                                {{site.data.services_intern.services_intern[page.lang]['llave2_1_titulo']['texto']}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row p-3">
                    <div class="col-md-12 col-sm-6 row dinpro-bold h4 justify-content-center text-center py-4">
                        <img alt="imagen" class="mx-auto d-block img-fluid p-4" src="{{ site.baseurl }}/assets/img/servicios/LLAVE EN MANO/{{site.data.services_intern.services_intern[page.lang]['llave_mano_img']['src']}}"/>
                    </div>
                    {% if site.data.videos.servicios_interna.proyectos.src != '' %}
                    <div class="row p-md-5 col-12">
                        <div class="col-md-10 mx-md-auto p-md-5">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe allowfullscreen="" class="embed-responsive-item" src="{{site.data.videos.servicios_interna.proyectos.src}}">
                                </iframe>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <div class="col-md-12 col-sm-6 px-2 mt-3">
                        <div class="row text-white dinpro-bold bg-sf-primary m-2">
                            <div class="col-12 p-2">
                                <h5 class="mt-3 text-center">
                                    {{site.data.services_intern.services_intern[page.lang]['llave3_titulo']['texto']}}
                                    <a class="btn btn-outline-primary border-white ml-2" href="#contactanos">
                                        {{site.data.services_intern.services_intern[page.lang]['llave3_1_titulo']['texto']}}
                                        <i class="fas fa-arrow-right">
                                        </i>
                                    </a>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
      </div>
      <div class="sf-head-collapse my-5" id="headingThree">
          <h2 class="mb-0">
              <button aria-controls="collapseThree" aria-expanded="false" class="btn btn-link btn-block text-left" data-target="#collapseThree" data-toggle="collapse" type="button">
                <img alt="arrow" class="float-right p-2" src="{{ site.baseurl }}/assets/img/servicios/Flecha-1.png"/>

                  <h3 class="txt-color-primary good-times-rg py-auto" id="t-accordion">
                    {{site.data.services_intern.services_intern[page.lang]['tdigital_titulo']['texto']}}
                  </h3>
              </button>
          </h2>
      </div>
      <div aria-labelledby="headingThree" class="collapse" data-parent="#accordions" id="collapseThree">
          <div class="row py-4">
              <div class="col-md-6 col-sm-12">
                  <img alt="imagen" class="mx-auto d-block img-fluid" src="{{ site.baseurl }}/assets/img/servicios/TRANSFORMACION DIGITAL/1.png"/>
              </div>
              <div class="col-md-6 col-sm-12 py-5">
                  <div class="row no-gutters p-3">
                      <div class="col-12 pt-2">
                          <p class="text-justify h4 pb-3">
                            {{site.data.services_intern.services_intern[page.lang]['tdigital1_titulo']['texto']}}
                          </p>
                          <p class="text-justify h4">
                            {{site.data.services_intern.services_intern[page.lang]['tdigital1_1_titulo']['texto']}}
                          </p>
                          <p class="text-center h2 bg-black text-white p-2 dinpro-bold mt-4">
                            {{site.data.services_intern.services_intern[page.lang]['tdigital1_2_titulo']['texto']}}
                          </p>
                      </div>
                  </div>
              </div>
          </div>
          {% if site.data.videos.servicios_interna.transformacion_digital.src != '' %}
          <div class="row p-md-5 col-12">
              <div class="col-md-10 mx-md-auto p-md-5">
                  <div class="embed-responsive embed-responsive-16by9">
                      <iframe allowfullscreen="" class="embed-responsive-item" src="{{site.data.videos.servicios_interna.transformacion_digital.src}}">
                      </iframe>
                  </div>
              </div>
          </div>
          {% endif %}
          <div class="col-md-12 col-sm-6 px-2 mt-4">
              <div class="row text-white dinpro-bold bg-sf-primary m-2">
                  <div class="col-12 p-2">
                      <h5 class="mt-3 text-center">
                        {{site.data.services_intern.services_intern[page.lang]['tdigital2_titulo']['texto']}}
                          <a class="btn btn-outline-primary border-white ml-2" href="#contactanos">
                            {{site.data.services_intern.services_intern[page.lang]['tdigital2_1_titulo']['texto']}}
                              <i class="fas fa-arrow-right">
                              </i>
                          </a>
                      </h5>
                  </div>
              </div>
          </div>
      </div>
      <div class="sf-head-collapse my-5" id="headingFour">
          <h2 class="mb-0">
              <button aria-controls="collapseFour" aria-expanded="false" class="btn btn-link btn-block text-left" data-target="#collapseFour" data-toggle="collapse" type="button">
                <img alt="arrow" class="float-right p-2" src="{{ site.baseurl }}/assets/img/servicios/Flecha-1.png"/>

                  <h3 class="txt-color-primary good-times-rg py-auto" id="t-accordion">
                    {{site.data.services_intern.services_intern[page.lang]['gproyectos_titulo']['texto']}}
                  </h3>
              </button>
          </h2>
      </div>
      <div aria-labelledby="headingFour" class="collapse" data-parent="#accordions" id="collapseFour">
          <div class="col-12">
            <div class="pr-md-3 pr-sm-0 pt-1 h4 py-4">
                <p class="text-justify">
                    {{site.data.services_intern.services_intern[page.lang]['gproyectos1_titulo']['texto']}}
                </p>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12 h4">
                    <div class="py-4">
                    <p class="text-justify h2 bg-black text-white p-2 dinpro-bold my-4">
                        {{site.data.services_intern.services_intern[page.lang]['gproyectos2_titulo']['texto']}}
                    </p>
                    <p>
                        {{site.data.services_intern.services_intern[page.lang]['gproyectos2_1_titulo']['texto']}}
                        <span class="dinpro-bold">
                            {{site.data.services_intern.services_intern[page.lang]['gproyectos2_2_titulo']['texto']}}
                        </span>
                        {{site.data.services_intern.services_intern[page.lang]['gproyectos2_3_titulo']['texto']}}
                    </p>
                    </div>
                    <div class="py-4">
                    <p class="text-justify h2 bg-black text-white p-2 dinpro-bold my-4">
                        {{site.data.services_intern.services_intern[page.lang]['gproyectos3_titulo']['texto']}}
                    </p>
                    <p>
                        {{site.data.services_intern.services_intern[page.lang]['gproyectos3_1_titulo']['texto']}}
                    </p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="row no-gutters py-0">
                        <div class="col-12 pt-3">
                            <img alt="imagen" class="mx-auto d-block img-fluid" src="{{ site.baseurl }}/assets/img/servicios/GESTION DE PROYECTOS/1.png"/>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          {% if site.data.videos.servicios_interna.gestion_proyectos.src != '' %}
          <div class="row p-md-5 col-12">
              <div class="col-md-10 mx-md-auto p-md-5">
                  <div class="embed-responsive embed-responsive-16by9">
                      <iframe allowfullscreen="" class="embed-responsive-item" src="{{site.data.videos.servicios_interna.gestion_proyectos.src}}">
                      </iframe>
                  </div>
              </div>
          </div>
          {% endif %}
          <div class="row text-white dinpro-bold bg-sf-primary m-2">
              <div class="col-12 p-2">
                  <h5 class="mt-3 text-center">
                    {{site.data.services_intern.services_intern[page.lang]['gproyectos4_titulo']['texto']}}
                      <a class="btn btn-outline-primary border-white ml-2" href="#contactanos">
                        {{site.data.services_intern.services_intern[page.lang]['gproyectos4_1_titulo']['texto']}}
                          <i class="fas fa-arrow-right">
                          </i>
                      </a>
                  </h5>
              </div>
          </div>
      </div>
      <div class="sf-head-collapse my-5" id="headingFive">
          <h2 class="mb-0">
              <button aria-controls="collapseFive" aria-expanded="false" class="btn btn-link btn-block text-left" data-target="#collapseFive" data-toggle="collapse" type="button">
                <img alt="arrow" class="float-right p-2" src="{{ site.baseurl }}/assets/img/servicios/Flecha-1.png"/>
                  <h3 class="txt-color-primary good-times-rg py-auto" id="t-accordion">
                    {{site.data.services_intern.services_intern[page.lang]['robot_titulo']['texto']}}
                  </h3>
              </button>
          </h2>
      </div>
      <div aria-labelledby="headingFive" class="collapse" data-parent="#accordions" id="collapseFive">
          <div class="row py-md-5">
              <div class="col-md-6 col-sm-12">
                  <img alt="imagen" class="mx-auto d-block img-fluid" src="{{ site.baseurl }}/assets/img/servicios/Robot As A Service/1.png"/>
              </div>
              <div class="col-md-6 col-sm-12">
                  <div class="row dinpro-light py-md-5">
                      <div class="py-md-5">
                          <div class="col-12">
                              <p class="text-justify h3">
                                {{site.data.services_intern.services_intern[page.lang]['robot1_titulo']['texto']}}
                              </p>
                          </div>
                          <span class="dinpro-bold">
                              <div class="col-12">
                                  <p class="text-justify h3 py-3">
                                    {{site.data.services_intern.services_intern[page.lang]['robot1_1_titulo']['texto']}}
                                  </p>
                              </div>
                          </span>
                      </div>
                  </div>
              </div>
          </div>
          {% if site.data.videos.servicios_interna.robot_service.src != '' %}
          <div class="row p-md-5 col-12">
              <div class="col-md-10 mx-md-auto p-md-5">
                  <div class="embed-responsive embed-responsive-16by9">
                      <iframe allowfullscreen="" class="embed-responsive-item" src="{{site.data.videos.servicios_interna.robot_service.src}}">
                      </iframe>
                  </div>
              </div>
          </div>
          {% endif %}
          <div class="row text-white dinpro-bold bg-sf-primary m-2">
              <div class="col-12 p-2">
                  <h5 class="mt-3 text-center">
                    {{site.data.services_intern.services_intern[page.lang]['robot2_titulo']['texto']}}
                      <a class="btn btn-outline-primary border-white ml-2" href="#contactanos">
                        {{site.data.services_intern.services_intern[page.lang]['robot2_1_titulo']['texto']}}
                          <i class="fas fa-arrow-right">
                          </i>
                      </a>
                  </h5>
              </div>
          </div>
      </div>
      <div class="sf-head-collapse my-5" id="headingSix">
          <h2 class="mb-0">
              <button aria-controls="collapseSix" aria-expanded="false" class="btn btn-link btn-block text-left" data-target="#collapseSix" data-toggle="collapse" type="button">
                <img alt="arrow" class="float-right p-2" src="{{ site.baseurl }}/assets/img/servicios/Flecha-1.png"/>
                  <h3 class="txt-color-primary good-times-rg py-auto" id="t-accordion">
                    {{site.data.services_intern.services_intern[page.lang]['capacitacion_titulo']['texto']}}
                  </h3>
              </button>
          </h2>
      </div>
      <div aria-labelledby="headingSix" class="collapse" data-parent="#accordions" id="collapseSix">
          <div class="col-12">
            <div class="row px-2 py-md-5">
                <p class="text-justify h3">
                    {{site.data.services_intern.services_intern[page.lang]['capacitacion1_titulo']['texto']}}
                    <span class="dinpro-bold">
                        {{site.data.services_intern.services_intern[page.lang]['capacitacion1_1_titulo']['texto']}}
                    </span>
                    {{site.data.services_intern.services_intern[page.lang]['capacitacion1_2_titulo']['texto']}}
                </p>
            </div>
          </div>
          <div class="row my-4 py-md-5">
              <img alt="imagen" class="mx-auto d-block img-fluid container-fluid" src="{{ site.baseurl }}/assets/img/servicios/CAPACITACION/1.png"/>
          </div>
          {% if site.data.videos.servicios_interna.capacitacion.src != '' %}
          <div class="row p-md-5 col-12">
              <div class="col-md-10 mx-md-auto p-md-5">
                  <div class="embed-responsive embed-responsive-16by9">
                      <iframe allowfullscreen="" class="embed-responsive-item" src="{{site.data.videos.servicios_interna.capacitacion.src}}">
                      </iframe>
                  </div>
              </div>
          </div>
          {% endif %}
          <div class="row text-white dinpro-bold bg-sf-primary m-2">
              <div class="col-12 p-2">
                  <h5 class="mt-3 text-center">
                    {{site.data.services_intern.services_intern[page.lang]['capacitacion2_titulo']['texto']}}
                      <a class="btn btn-outline-primary border-white ml-2" href="#contactanos">
                        {{site.data.services_intern.services_intern[page.lang]['capacitacion2_1_titulo']['texto']}}
                          <i class="fas fa-arrow-right">
                          </i>
                      </a>
                  </h5>
              </div>
          </div>
      </div>
      <div class="sf-head-collapse my-5" id="headingSeven">
          <h2 class="mb-0">
              <button aria-controls="collapseSeven" aria-expanded="false" class="btn btn-link btn-block text-left" data-target="#collapseSeven" data-toggle="collapse" type="button">
                <img alt="arrow" class="float-right p-2" src="{{ site.baseurl }}/assets/img/servicios/Flecha-1.png"/>
                  <h3 class="txt-color-primary good-times-rg py-auto" id="t-accordion">
                    {{site.data.services_intern.services_intern[page.lang]['boarding_titulo']['texto']}}
                  </h3>
              </button>
          </h2>
      </div>
      <div aria-labelledby="headingSeven" class="collapse" data-parent="#accordions" id="collapseSeven">
          <div class="col-12">
              <p class="text-justify h3 ">
                  <span class="dinpro-bold">
                    {{site.data.services_intern.services_intern[page.lang]['boarding1_titulo']['texto']}}
                  </span>
                  {{site.data.services_intern.services_intern[page.lang]['boarding1_1_titulo']['texto']}}
              </p>
          </div>
          <div class="row py-md-5">
              <img alt="imagen" class="mx-auto d-block img-fluid" src="{{ site.baseurl }}/assets/img/servicios/ON BOARDING/{{site.data.services_intern.services_intern[page.lang]['boarding_img']['src']}}"/>
          </div>
          {% if site.data.videos.servicios_interna.on_boarding.src != '' %}
          <div class="row p-md-5 col-12">
              <div class="col-md-10 mx-md-auto p-md-5">
                  <div class="embed-responsive embed-responsive-16by9">
                      <iframe allowfullscreen="" class="embed-responsive-item" src="{{site.data.videos.servicios_interna.on_boarding.src}}">
                      </iframe>
                  </div>
              </div>
          </div>
          {% endif %}
          <div class="row text-white dinpro-bold bg-sf-primary m-2">
              <div class="col-12 p-2">
                  <h5 class="mt-3 text-center">
                    {{site.data.services_intern.services_intern[page.lang]['boarding2_titulo']['texto']}}
                      <a class="btn btn-outline-primary border-white ml-2" href="#contactanos">
                        {{site.data.services_intern.services_intern[page.lang]['boarding2_1_titulo']['texto']}}
                          <i class="fas fa-arrow-right">
                          </i>
                      </a>
                  </h5>
              </div>
          </div>
      </div>
      <div class="sf-head-collapse my-5" id="headingEight">
          <h2 class="mb-0">
              <button aria-controls="collapseEight" aria-expanded="false" class="btn btn-link btn-block text-left" data-target="#collapseEight" data-toggle="collapse" type="button">
                <img alt="arrow" class="float-right p-2" src="{{ site.baseurl }}/assets/img/servicios/Flecha-1.png"/>
                  <h3 class="txt-color-primary good-times-rg py-auto" id="t-accordion">
                    {{site.data.services_intern.services_intern[page.lang]['chatbot_titulo']['texto']}}
                  </h3>
              </button>
          </h2>
      </div>
      <div aria-labelledby="headingEight" class="collapse" data-parent="#accordions" id="collapseEight">
          <div class="col-12">
            <div class="row">
                <div class="col-md-6 col-sm-12 py-md-5">
                    <p class="text-justify h3 mt-5">
                        {{site.data.services_intern.services_intern[page.lang]['chatbot1_titulo']['texto']}}
                        <span class="dinpro-bold">
                            {{site.data.services_intern.services_intern[page.lang]['chatbot1_1_titulo']['texto']}}
                        </span>
                        {{site.data.services_intern.services_intern[page.lang]['chatbot1_2_titulo']['texto']}}
                    </p>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="row no-gutters py-0 col-12 pt-3">
                        <img alt="imagen" class="mx-auto d-block img-fluid" src="{{ site.baseurl }}/assets/img/servicios/CHATBOT/CHATBOT.png"/>
                    </div>
                </div>
            </div>
          </div>
          {% if site.data.videos.servicios_interna.chatbot.src != '' %}
          <div class="row p-md-5 col-12">
              <div class="col-md-10 mx-md-auto p-md-5">
                  <div class="embed-responsive embed-responsive-16by9">
                      <iframe allowfullscreen="" class="embed-responsive-item" src="{{site.data.videos.servicios_interna.chatbot.src}}">
                      </iframe>
                  </div>
              </div>
          </div>
          {% endif %}
          <div class="row text-white dinpro-bold bg-sf-primary m-2">
              <div class="col-12 p-2">
                  <h5 class="mt-3 text-center">
                    {{site.data.services_intern.services_intern[page.lang]['chatbot2_titulo']['texto']}}
                      <a class="btn btn-outline-primary border-white ml-2" href="#contactanos">
                        {{site.data.services_intern.services_intern[page.lang]['chatbot2_1_titulo']['texto']}}
                          <i class="fas fa-arrow-right">
                          </i>
                      </a>
                  </h5>
              </div>
          </div>
      </div>
  </div>
</div>
