<div class="bg-main py-5 ">
    <div class="container py-5 carousel slide w-100" id="servicios" data-ride="carousel">
        <div class="carousel-inner w-100" role="listbox">
            <div class="carousel-item active">
                <div class="col-md-4">
                    <div class="card bg-main mx-auto">
                        <img class="card-img-top ease-img" src="{{ site.baseurl }}/assets/img/services-1.png" alt="">
                        <div class="card-body dinpro-light">
                            <h4 class="card-title dinpro-bold txt-color-primary text-center">AUTOMATIZACIONES
                                CON
                                RPA / IPA</h4>
                            <p class="card-text text-white">RPA es el término que usa la industria para
                                programas de
                                cómputo que ayudan a automatizar funciones imitando el como los usuarios
                                interactúan...
                            </p>
                            <button type="button" name="" id=""
                                class="btn btn-primary btn-sm float-right full-fill dinpro-bold">leer más <i
                                    class="fas fa-arrow-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="col-md-4">
                    <div class="card bg-main mx-auto">
                        <img class="card-img-top ease-img" src="{{ site.baseurl }}/assets/img/services-2.png" alt="">
                        <div class="card-body dinpro-light">
                            <h4 class="card-title dinpro-bold txt-color-primary text-center">CHATBOTS</h4>
                            </br>
                            <p class="card-text text-white">Te ayudamos en la estrategia de desarrollar Chatbots
                                conversacionales complejos con capacidad de procesamiento de Lenguaje Natural
                                (NLP)...
                            </p>
                            <button type="button" name="" id=""
                                class="btn btn-primary btn-sm float-right full-fill dinpro-bold">leer más <i
                                    class="fas fa-arrow-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="col-md-4">
                    <div class="card bg-main mx-auto">
                        <img class="card-img-top ease-img" src="{{ site.baseurl }}/assets/img/services-3.png" alt="">
                        <div class="card-body dinpro-light">
                            <h4 class="card-title dinpro-bold txt-color-primary text-center">TRANSFORMACIÓN
                                DIGITAL
                            </h4>
                            <p class="card-text text-white">Abordamos en conjunto con nuestros clientes los
                                retos de
                                transformación de procesos,
                                evaluando las tecnologías que permitirán mejores resultados...
                            </p>
                            <button type="button" name="" id=""
                                class="btn btn-primary btn-sm float-right full-fill dinpro-bold">leer más <i
                                    class="fas fa-arrow-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="col-md-4">
                    <div class="card bg-main mx-auto">
                        <img class="card-img-top ease-img" src="{{ site.baseurl }}/assets/img/services-4.png" alt="">
                        <div class="card-body dinpro-light">
                            <h4 class="card-title dinpro-bold txt-color-primary text-center">On Boarding
                            </h4>
                            <p class="card-text text-white">
                                Servicios empaquetados con alcances definidos, diseñados para desarrollar las
                                capacidades internas en nuestros clientes y asociados...
                            </p>
                            <button type="button" name="" id=""
                                class="btn btn-primary btn-sm float-right full-fill dinpro-bold">leer más <i
                                    class="fas fa-arrow-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="col-md-4">
                    <div class="card bg-main mx-auto">
                        <img class="card-img-top ease-img" src="{{ site.baseurl }}/assets/img/services-5.png" alt="">
                        <div class="card-body dinpro-light">
                            <h4 class="card-title dinpro-bold txt-color-primary text-center">Proyectos Llave en
                                Mano
                            </h4>
                            <p class="card-text text-white">
                                Nos involucramos en todo el proceso de transformación de nuestros clientes,
                                analizando, diseñando y desarrollando las automatizaciones...
                            </p>
                            <button type="button" name="" id=""
                                class="btn btn-primary btn-sm float-right full-fill dinpro-bold">leer más <i
                                    class="fas fa-arrow-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="col-md-4">
                    <div class="card bg-main mx-auto">
                        <img class="card-img-top ease-img" src="{{ site.baseurl }}/assets/img/services-6.png" alt="">
                        <div class="card-body dinpro-light">
                            <h4 class="card-title dinpro-bold txt-color-primary text-center">Robot as a Service
                            </h4>
                            <p class="card-text text-white">
                                Para clientes que no tiene el personal o la infraestructura para una operación
                                compleja, pero igualmente se enfrentan a los retos de las actividades...
                            </p>
                            <button type="button" name="" id=""
                                class="btn btn-primary btn-sm float-right full-fill dinpro-bold">leer más <i
                                    class="fas fa-arrow-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row dinpro-bold pt-5 sf-servicios-controls">
            <a href="#servicios" role="button" data-slide="prev" class="col text-right"
                onmouseover="hover(this,'prev');" onmouseout="unhover(this,'prev');">
                anterior
                <img src="{{ site.baseurl }}/assets/img/icons/prev-grey.png" alt="anterior" class="px-2">
            </a>
            <a href="#servicios" role="button" class="col" data-slide="next" onmouseover="hover(this,'next');"
                onmouseout="unhover(this,'next');">
                <img src="{{ site.baseurl }}/assets/img/icons/next-grey.png" alt="siguiente" class="px-2">
                siguiente
            </a>
        </div>
    </div>
</div>