---

---
<div id="carouselTop" class="carousel slide d-none d-md-block" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselTop" data-slide-to="0" class="active"></li>
        <li data-target="#carouselTop" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item align-items-center flex-column active">
            <img src="{{ site.baseurl }}/assets/img/carrousel1.png" class="d-block w-100" alt="..." role="img">
            <div class="container">
                <div class="carousel-caption text-left">
                    <h5 class="txt-color-primary good-times-rg">{{site.data.top_carousel.socio1_titulo.texto[page.lang]}}</h5>
                    <div class="col-5 ml-0 pl-0 good-times-rg">
                        <h3>{{site.data.top_carousel.socio1_subtitulo.texto[page.lang]}}</h3>
                    </div>
                    <div>
                        <img src="{{ site.baseurl }}/assets/img/orange_rectangle.png" alt="">
                    </div>
                    <div class="row">
                        <div class="col-6 dinpro-light">
                            <p>{{site.data.top_carousel.socio1_1_titulo.texto[page.lang]}}</p>
                            <p class="float-right">
                                <a class="btn btn-outline-primary float-right border-primary dinpro-bold"
                                    href="{{site.data.header.nosotros.url.[page.lang]}}">{{site.data.top_carousel.socio1_link.texto[page.lang]}}<i class="fas fa-arrow-right"></i></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item align-items-center flex-column">
            <img src="{{ site.baseurl }}/assets/img/carrousel2.png" class="d-block w-100" alt="..." role="img">
            <div class="container">
                <div class="carousel-caption text-left">
                    <h5 class="txt-color-semiblack good-times-rg">{{site.data.top_carousel.automation1_titulo.texto[page.lang]}}</h5>
                    <div class="col-8 ml-0 pl-0 good-times-rg">
                        <h3>{{site.data.top_carousel.automation1_subtitulo.texto[page.lang]}}</h3>
                    </div>
                    <div>
                        <img src="{{ site.baseurl }}/assets/img/semiblack_rectangle.png" alt="">
                    </div>
                    <div class="row">
                        <div class="col-6 dinpro-light">
                            <p>{{site.data.top_carousel.automation1_1_titulo.texto[page.lang]}}</p>
                            <p class="float-right">
                                <a class="btn btn-outline-primary border-black dinpro-bold"
                                    href="{{site.data.header.nosotros.url.[page.lang]}}">{{site.data.top_carousel.automation1_link.texto[page.lang]}}<i class="fas fa-arrow-right"></i></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselTop" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselTop" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>