<head>
    <!-- Required meta tags -->
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:site_name" content="SMART-FORCE"/>
    <meta property="og:title" content="SMART-FORCE | SMART-FORCE"/>
    <meta property="og:description" content="Tu socio de Transformación Digital"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="http://img1.wsimg.com/isteam/ip/23da070d-05c1-4211-b17a-61c89de46662/Logo_Logo%20Black%20BG%20SMART-small-0002.png"/>
    <meta property="og:locale" content="es_MX"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="SMART-FORCE"/>
    <meta name="twitter:description" content="Tu socio de Transformación Digital"/>
    <meta name="twitter:image" content="http://img1.wsimg.com/isteam/ip/23da070d-05c1-4211-b17a-61c89de46662/Logo_Logo%20Black%20BG%20SMART-small-0002.png"/>
    <meta name="twitter:image:alt" content="SMART-FORCE"/>

    <!-- Bootstrap CSS -->
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/assets/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
    <link rel="shortcut icon" href="/assets/img/favicon/favicon.ico">
    <link rel="manifest" href="/manifest.json">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}" />
    <link rel="stylesheet" href="{{ "/assets/css/carousel.css" | prepend: site.baseurl }}" />
    <title>{{ page.title }}</title>
</head>

